.main{
    display: flex;
    flex-direction: column;
}
.subMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 50px;
}
.subdiv{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: auto;
}
th{
    background-color: rgb(62, 173, 207) 74% !important;
    background-image: linear-gradient( #3eadcf 74%) !important;
}
.card{
    margin-top: 20px;
}
